@import 'nib'
global-reset()
*, *:before, *:after
  box-sizing border-box

/**
 * CORE
 * Variables and essential media query setup
 */
@import 'core/inputs'
@import 'core/spa'

/**
 * COMMON
 * Resources to setup behaviours and rules
 */
@import 'common/icons'
@import 'common/layouts'
@import 'motion/transition'

/**
 * INTERACTIVES
 */
@import 'ui/core'
@import 'ui/behaviour'
@import 'ui/types'
/**
 * ELEMENTS
 * Barebone application wrappers
 */
@import 'elements/forms'

/**
 * COMPONENTS
 */
@import 'components/app-navigation'
@import 'components/app-results'
@import 'components/app-modal'
@import 'components/response-message'
@import 'components/location-submit'
