/**
 * FontAwesome icons
 */

[class*="fa--"]
  font-family FontAwesome
  font-size 1em
.fa
  &--sun:before
    content "\f185"
  &--check:before
    content "\f00c"
  &--cross:before
    content "\f00d"
  &--submit:before
    content "\f14c"
  &--geo:before
    content "\f041"
  &--random:before
    content "\f06e"
  &--spinner:before
    content "\f110"