body
  background-color black
/**
* Core SPA Wraper
**/
#root
  position relative

/**
* Media Mixin
**/
min(minwidth)
  @media (min-width: minwidth)
    {block}
max(maxwidth)
  @media (max-width: maxwidth)
    {block}