.response-message-component
  position: relative
  .content
    position: absolute
    width 100%
    display flex
    justify-content: center
    span
      padding-left 2em
    color: red
    &.has-success
      color yellowgreen