.location-submit-component
  transition(name="switch" mode="out-in")
    .ui(v-if="isFetching" key="loading")
      .fa--spinner.fa-pulse
    .ui(v-else @click="submit" key="button")
      div(":class"="iconClass")
      span {{ label }}